<?xmm version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="loam_robot_01">

    <!-- <material name="light_brown" >
        <color rgba="1.0 0.9 0.6 1" />
    </material> -->

    <xacro:include filename="materials.urdf.xacro"/>
    <!-- include lidar mid 70 -->
    <xacro:include filename="mid70.urdf.xacro"/>

    <xacro:include filename="MTi_10.urdf.xacro"/>
    <xacro:include filename="materials.urdf.xacro"/>


    <link name="base_link">
    
    </link>

    <link name="mounting_plate" >
        <visual>
            <origin xyz="0 0 0"/> <!-- x = 0.097/2 - 0.00162  z = 0.0627/2 - 0.0324, from manual of mid70, see center point location page 15-->
            <geometry>
                <box size="0.0708 0.0596 0.003" />
            </geometry>
            <material name="light_brown" />
        </visual>
    </link>


    <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="livox_frame"/>  <!--  TODO: need to rename the frame of the lidar at some point..-->
        <origin xyz="0 0 0"/>
    </joint> 


    <joint name="mounting_plate_joint" type="fixed">
        <parent link="base_link"/>
        <child link="mounting_plate" />
        <origin xyz="-0.04275 0 0.0318"/>
    </joint>


    <joint name="imu_joint" type="fixed">
        <parent link="mounting_plate"/>
        <child link="imu_base_link" />
        <origin xyz="-0.0246 0.017 0.0015"/>
    </joint>
    

</robot>